.btn-btn-finalizarOrcamento{
    border-radius: 6px;
    border: none;
    padding: 5px;
    transition-duration: 0.4s;
    background-color: #F54D09 ;
    color: white;
}

.btn-btn-finalizarOrcamento:hover{
    background-color: white ;
    color: black;
    border-color: #F54D09;
    border-width: medium;
    border-style: solid;
}
